*{
    margin: 0;
    padding: 0;
    color: #f2ede7;
    font-family: "Comic Neue", cursive;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #2f2f2f;
    background: linear-gradient(#7226ff, #160078, #010030);
}
h1, h2, p{
    font-family: "Fredoka", cursive;
    color: #f2ede7;
}
h1{
    margin-left: 10px;
}
h1:last-child{
    margin-right: 10px;
}
/*NAVBAR WEB*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #262335;
    overflow: hidden;
}
.zary-logo{
    width: 50px;
    height: fit-content;
    cursor: pointer;
    /*position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);*/
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 10px;
    margin-top: 20px;
}
/*CONTAINER USERNAME*/
.container-username{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 500px;
    width: fit-content;
    height: 50px;
    padding: 0px 10px 0px 10px;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: #1f1f1f;
}
#username{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 50px 3px 3px 50px;
    background-color: #2f2f2f;
}
#saveUserBtn{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 3px 50px 50px 3px;
    cursor: pointer;
    background-color: #7226ff;
}
/*MINI NAVBAR*/
.tweets-count-send{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    max-width: 500px;
    width: 100%;
    height: 60px;
    background-color: #1f1f1f;
    border: none;
    border-radius: 50px;
}
.tweets-count{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 50px 3px 3px 50px;
    background-color: #7226ff;
    cursor: pointer;
}
.tweets-send{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    gap: 10px;
}
#userTweet{
    width: 260px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: #2f2f2f;
}
#btnTweet{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 3px 50px 50px 3px;
    background-color: #7226ff;
    cursor: pointer;
}
@media (max-width: 500px) {
    .tweets-count, #btnTweet{
        width: 80px;
    }
    #userTweet{
        width: 160px;
    }
}
/*TWEETS CONTAINER*/
.tweets-container-display{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    height: fit-content;
    gap: 10px;
}
/*TWEETS STYLE CONTAINER FOR EACH*/
.tweet-box-style{
    width: 100%;
    height: fit-content;
    padding: 5px;
    background-color: #262335;
    border: none;
    border-radius: 5px;
}
hr{
    width: 80%;
    margin: 3px 0px 3px 0px;
}
/*FOOTER*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 70px;
    margin-top: 10px;
    background-color: #262335;
}